@media screen and (max-width: 576px) {
  body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
  }

  /** HEADER Y NAV */

  .header {
    height: 40px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0 7px 2px #5d3bef;
    z-index: 99999;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: rgb(93, 109, 126);
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item {
    margin-top: 30px;
  }

  .nav-menu-link:hover {
    background: none;
    color: rgb(255, 255, 255);
  }

  .nav-toggle {
    line-height: 45px;
    display: block;
  }

  .nav-toggle i {
    color: rgb(8, 8, 8);
  }

  .nav-menu_visible {
    left: 0;
  }

  /*para que solo aparezcan bordes si me muevo con tab */
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  /* este es el home en desktop */
  .home {
    display: none;
  }

  /* aca empieza el home en movil*/

  .container-mobile {
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .container-mobile h1 {
    margin: 0 0 10px 10px;
    color: #222222;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .container-mobile p {
    margin: 0 0 0 10px;
    color: #423f40;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: +1;
  }

  .mobile-container-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .mobile-container-img img {
    max-width: 80%;
    margin-top: -70px;
    z-index: -1;
  }

  .img-icon {
    display: flex;
    text-align: center;
    display: block;
    flex-direction: row;
    margin: -10px 0 30px;
  }

  .img-icon a {
    text-decoration: none;
    margin: 0 30px;
  }

  .img-icon img {
    width: 30px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #8e7bef;
    box-shadow: 3px 3px 5px #000000;
  }

  .mobile-download-cv {
    max-width: 100%;
    display: block;
    text-align: center;
  }

  .mobile-download-cv i {
    margin-right: 20px;
    color: #f9f5f2;
  }

  .mobile-download-cv a {
    display: inline-block;
    padding: 15px 90px;
    background-color: #5d3bef;
    box-shadow: 3px 3px 5px #000000;
    text-decoration: none;
    color: #fff;
  }

  /** MI CARRERA COMO DESARROLLADOR */

  .carrera {
    padding: 40px 0 0;
    margin-bottom: 50px;
    width: 100%;
  }

  .carrera h2 {
    margin: 40px 0 20px;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 2rem;
  }

  .carrera-text p {
    font-size: 1rem;
  }

  /** MIS HABILIDADES */

  .skills {
    padding: 40px 0 0;
    margin-bottom: 50px;
  }

  .skills-titulo h2 {
    margin: 50px 0 50px;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 3px;
  }

  .skills-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
  }

  .skills-img img {
    max-width: 100%;
  }

  /** PROYECTOS */

  .container {
    padding: 40px 0 0;
    margin-bottom: 100px;
  }

  .container-tit h3 {
    margin: 50px 0 50px;
    font-size: 2rem;
    font-weight: 600;
  }

  .container-proyecto {
    flex-direction: column;
  }

  .container-proyecto img {
    max-width: 50%;
    margin: 0 0 10px 0;
  }

  /** CONTACTO */

  .container-contacto {
    padding: 40px 0 0;
    margin-bottom: 100px;
  }

  .contacto-tit h2 {
    margin: 50px 0 50px;
    font-weight: 600;
    font-size: 2rem;
  }

  .contacto-contactar {
    flex-direction: column;
  }

  /** telefono */
  .contactar-card1 {
    margin: 0 0 10px;
  }

  .contactar-card1 img {
    width: 50px;
    margin-bottom: 10px;
}

  .contactar-card1 h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  .contactar-card1 p {
    font-size: 1rem;
  }

  /** Email */

  .contactar-card2 img {
    width: 50px;
  }

  .contactar-card2 h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  .contactar-card2 p {
    font-size: 1rem;
  }

  /** FOOTER */

.foter-tit h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.foter-tit h3 {
  font-weight: 600;
  font-size: 1rem;
}
}
