body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*header y nav*/
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 0;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 2px 9px #6062e0;
}

.nav {
  height: 60px;
  padding: 0 50px;
}

.nav__menu{
  display: flex;
  gap: 20px;
}

.nav__menu li{
  list-style: none;
  font-size: 18px;
  margin: 0 10px;
}

.nav__menu a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav__menu i{
  padding: 3px 3px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
}



/*INICIO*/

.inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.inicio-img img{
  width: 600px;
  max-width: 100%;
  margin-right: 50px;
}


.quiensoy{
  display: flex;
  display: inline-block;
  margin-top: 150px;
  margin-left: 30px;
  padding: 20px 30px;
}

.quiensoy-img img{
  margin: 0 20px;
  padding: 5px;
  border-radius: 40px;
  background-color: #a87ff5;
}

.quiensoy h1{
  text-shadow: 3px 4px 6px #4d1dad
}
.download-cv{
  padding-top: 20px;
}
.download-cv a{
  padding: 10px 10px;
  background-color: #3841c9;
  box-shadow: 3px 5px 7px 2px #4f4f8f;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/*contando un poco sobre mi carrera como desarrollador*/

.carrera {
  display: block;
  justify-content: space-between;
  margin-bottom: 200px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
}

.carreratit{
  display: block;
}

.carreratit h2{
  margin-bottom: 10px;
  margin-left: 500px;
  letter-spacing: 3px;
  text-shadow: 3px 4px 6px #4d1dad;
}

.carreratext{
    display: flex;
}

.carreratext img{
  width: 600px;
  max-width: 100%;
  margin-right: 20px;
}

/*mi habilidades*/

.habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 100px;
  margin-bottom: 200px;
  font-size: 1.5em;
  border-radius: 10px;
}

.habilidades h2{
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-bottom: 100px;
  text-shadow: 3px 4px 6px #4d1dad;
}

/*formulario*/

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 200px;
  border-radius: 5px;
}

.containerform{
  width: 400px;
  padding: 50px 200px;
  box-shadow: 2px 3px 8px 2px #4d1dad;
}

.containerform h3{
  font-size: 40px;
  text-shadow: 3px 4px 6px #4d1dad;
}

.group{
  padding: 5px 0;
  margin-bottom: 10px;
}

.group label{
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.controls{
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.group textarea {
  resize: none;
  border-radius: 5px;
  height: 100px;
}

.buton {
  width: 100%;
  padding: 5px 0;
  border-radius: 12px;
  background-color: #3841c9;
  border-color: #ffffff;
  color: #fff;
  box-shadow: 3px 3px 7px 2px #4f4f8f;
}

/*footerrr*/

.foter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  color: #000000;
  font-size: 1.3em;
}

.foter__tit {
  text-align: center;
  text-shadow: 3px 4px 6px #4d1dad;
}

.foter__tit img{
  width: 50px;
  margin-bottom: -30px;
}

.foter__redes img{
    width: 40px;
    margin: 0 10px;
}

