* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  height: 40px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 0 7px 2px #5d3bef;
  z-index: 99999;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
}

.nav-toggle {
  line-height: 50px;
  margin-right: 10px;
  display: block;
  border: none;
  background: none;
}

.nav-toggle i {
  color: #000000;
  font-size: 1.7rem;
}

.nav-menu {
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(93, 109, 126);
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.nav-menu-item {
  margin-top: 40px;
}

.nav-menu-link:hover {
  background: none;
  color: #fff;
}

.nav-menu_visible {
  left: 0;
}


.nav-toggle:focus:not(:focus-visible) {
  outline: none;
}

.home-md{
  display: none;
}

/* HOME */

.home {
  display: grid;
  grid-template-rows: repeat(3fr);
  padding: 40px 0 0;
  margin-bottom: 50px;
  width: 100%;
}

.home-quiensoy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}

.home-quiensoy h1 {
  margin: 5px 0 10px 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  text-shadow: 2px 4px 3px #7f799b;
}

.home-quiensoy p {
  margin: 0 0 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 1;
  color: #222222;
}

.quiensoy-container-img {
  max-width: 100%;
  margin-top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-foto img {
  max-width: 100%;
}

.img-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -10% 0 10% 0;
  max-width: 100%;
  gap: 50%;
}

.img-icon a {
  text-decoration: none;
  background-color: #8E7BEF;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 3px 4px #000000;
}

.img-icon i {
  color: #fff;
  font-size: 1.5rem;
  padding: 5px;
}

.download-cv {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.download-cv a {
  max-width: 50%;
  padding: 10px 60px;
  text-decoration: none;;
  background-color: #5d3bef;
  color: #fff;
  box-shadow: 3px 3px 4px #000000;
}


/* SOBRE MI */

.carrera {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.carrera h2 {
  margin: 20% 0 10%;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  text-shadow: 2px 4px 3px #7f799b;
}

.carrera-text {
  max-width: 100%;
}

.carrera-text p {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  color: #222222;
}

/* HABILIDADES */

.skills {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.skills h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 20% 0 30%;
  color: #000000;
  text-shadow: 2px 4px 3px #7f799b;
}

/* PROYECTOS */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 0;
  width: 100%;
  margin-bottom: 50px;
}

.container h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 20% 0 30%;
  color: #000000;
  text-shadow: 2px 4px 3px #7f799b;
}

.container-proyecto {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.container-proyecto .proyecto img{
  max-width: 100%;
}

/* CONTACTO */

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 100px;
  width: 100%;
}

.container-contacto h2 {
  margin: 20% 0 20%;
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  text-shadow: 2px 4px 3px #7f799b;
}

.contacto-contactar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  gap: 20px;
}

.contactar-card1 {
  max-width: 100%;
}

.contactar-card1 img {
  max-width: 100%;
  padding: 30px;
  background-color: #F9F5F2;
  border-radius: 25%;
  margin-bottom: 10px;
  box-shadow: 3px 3px 4px #000000;
} 

.contactar-card1 h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
}

.contactar-card1 p {
  color: #222222;
}

.contactar-card2 {
  max-width: 100%;
}

.contactar-card2 img {
  max-width: 100%;
  padding: 30px;
  background-color: #F9F5F2;
  border-radius: 25%;
  margin-bottom: 10px;
  box-shadow: 3px 3px 4px #000000;
}

.contactar-card2 h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.contactar-card2 p {
  color: #222222;
}

/* FOTER */

.foter {
  width: 100%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 1px 0 7px 2px #5d3bef;
}

.foter-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}

.foter-tit h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  text-shadow: 2px 4px 3px #7f799b;
}

.foter-tit h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #222222;
}