*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

/** HEADER Y NAV */

.header {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: rgb(227, 229, 233);
  box-shadow: 1px 0 7px 2px #5D3BEF;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;


  /*esto lo saque de bootstrap*/ 
  max-width: 1442px; /*breakpo */
}

.nav-menu{
  display: flex;
  margin-right: 30px;
  list-style: none;
}
.nav-menu-item{
  margin: 0 10px;
  text-transform: uppercase;
  width: max-content;
}

.fa-solid{
  color: rgb(23, 32, 42 );
}

.nav-link{
  color: rgb(23, 32, 42 );
  text-decoration: none;
  font-weight: bold;
}

.nav-menu-link{
  padding: 3px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.nav-toggle{
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 50px;
  cursor: pointer;

  /* para que no se vea en desktop, un display: none */
  display: none;
}

/** INICIO */

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 0;
  margin-bottom: 200px;
  max-width: 100%;
}

.home-img img{
  width: 500px;
  max-width: 100%;
}

.home-quiensoy{
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: inline-block;
}

.home-quiensoy h1{
  margin: 0 0 20px;
  color: #222222;
  font-size: 40px;
  font-weight: 600;
}

.home-quiensoy p{
  margin: 0 0 40px;
  color: #423F40;
  font-size: 25px;
  font-weight: 600;
}

.quiensoy-img a{
  text-decoration: none;
  display: inline-block;
  margin: 0 20px 40px
}

.quiensoy-img img{
  padding: 3px;
  border-radius: 10px;
  background-color: #5f73e7;
  box-shadow: 3px 3px 5px #000000;
  max-width: 100%;
}

.download-cv i {
  margin-right: 20px;
  color: #f9f5f2;
}

.download-cv a{
  padding: 10px 60px;
  background-color: #5f73e7;
  box-shadow: 3px 3px 5px #000000;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
}

/** MI CARRERA COMO DESARROLLADOR */

.carrera {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 90px 0 0;
  margin-bottom: 200px;
  align-items: center;
  text-align: center;
}

.carrera h2{
  margin: 50px 0 50px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #222222;
  font-size: 40px;
}

.carrera-text{
    display: flex;
    width: 90%;
}

.carrera-text p {
  color: #423F40;
  font-size: 20px;
  max-width: 100%;
}

/** MIS HABILIDADES */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 90px 0 0;
  margin-bottom: 200px;
}

.skills-titulo h2 {
  letter-spacing: 3px;
  margin: 50px 0 40px;
  font-weight: 600;
  color: #222222;
  font-size: 40px;
  letter-spacing: 3px;
}

.skills-img {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px 0;
  box-shadow: 3px 3px 5px #000000;
  border-radius: 5px;
  margin: 0;
}

.skills-img img {
  max-width: 100%;
}

/** PROYECTOS */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px 0 0;
  margin-bottom: 200px;
}

.container-tit h3{
  margin: 50px 0 50px;
  font-size: 40px;
  color: #222222;
  letter-spacing: 3px;
}

.container-proyecto{
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/** CONTACTO */

.container-contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px 0 0;
  margin-bottom: 300px;
}

.contacto-tit h2{
  margin: 50px 0 50px;
  font-weight: 600;
  color: #222222;
  font-size: 40px;
}

.contacto-contactar{
  display: flex;
  flex-direction: row;
}

 /** telefono */
.contactar-card1{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactar-card1 img{
  width: 50px;
  padding: 40px;
  background-color: #f9f5f2;
  border-radius: 40px;
  max-width: 100%;
  margin-bottom: 10px;
}

.contactar-card1 h3{
  margin: 0 0 10px;
  font-weight: 600;
  color: #222222;
}

.contactar-card1 p {
  color: #423F40;
}

 /** Email */
.contactar-card2{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactar-card2 img{
  width: 50px;
  padding: 40px;
  background-color: #f9f5f2;
  border-radius: 40px;
  max-width: 100%;
  margin-bottom: 10px;
}

.contactar-card2 h3 {
  font-weight: 600;
  color: #222222;
  margin-bottom: 10px;
}

.contactar-card2 p{
  color: #423F40;
}

/** FOOTER */

.foter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(227, 229, 233);
  padding: 10px 0;
  box-shadow: 0 -2px 9px 2px #5D3BEF;
}

.foter-tit {
  text-align: center;
}

.foter-tit h2 {
  font-size: 30px;
  color: #161616;
  margin-bottom: 5px;
}

.foter-tit h3 {
  color: #333232;
  font-size: 20px;
}
