@media (min-width: 481px) {
  .header-xl {
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: #AEB6BF;
    z-index: 99999;
  }

  .nav-menu-xl {
    position: fixed;
    top: 30px;
    left: 100%;
    width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    transition: left 0.4s;
    background-color: #273746;

    display: flex;
    gap: 5px;
  }

  .nav-menu-item-xl {
    margin: 30px 0 0 0;
    font-size: 1.8rem;

    display: flex;
    text-align: center;
    align-items: center;
  }

  .nav-menu-link {
    color: #dad5d5;
  }

  .nav-menu-link:hover {
    background: none;
    color: rgb(2, 2, 2);
  }

  .nav-toggle {
    line-height: 55px;
    display: block;
  }

  .nav-toggle i {
    color: rgb(8, 8, 8);
    font-size: 2rem;
  }

  .nav-menu_visible {
    left: 0;
  }

  /*para que solo aparezcan bordes si me muevo con tab*/

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  /*este es el home de movíl*/
  .home {
    display: none;
  }

  .home-xl {
    width: 100%;
    padding: 50px 0 0 0;

    display: flex;
  }

  .home-foto {
    width: 50%;
  }

  .home-foto img {
    max-width: 100%;
  }

  .home-info {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .home-info h1 {
    font-size: 2rem;
    margin: 0 0 20px 0;
    font-weight: 600;
    color: #F9F5F2;
    letter-spacing: 2px;
  }

  .home-info p {
    font-size: 1.4rem;
    margin: 0 0 15px 0;
    color: #F9F5F2;
  }

  .info-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 30px 0;
  }

  .info-icon a {
    text-decoration: none;
    background-color: #D6DBDF;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
    margin: 0 15% 0 0;
  }

  .info-icon a:hover {
    background-color: #222222;
  }

  .info-icon i {
    font-size: 1.7rem;
    color: #34495E;
    padding: 10px;
  }

  .info-icon i:hover {
    color: #F9F5F2;
  }

  .info-download-cv {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: center;
  }

  .info-download-cv a {
    background-color: #D6DBDF;
    color: #34495E;
    text-decoration: none;
    padding: 10px;
    width: 60%;
    font-size: 1rem;
    box-shadow: 2px 2px 5px #000000;
  }

  .info-download-cv a:hover {
    background-color: #222222;
    color: #F9F5F2;
  }

  /* SOBRE MI */

  .sobre-mi {
    width: 100%;
    padding: 50px 0 0 0;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
  }

  .sobre-mi h2 {
    margin: 10% 0 3% 0;
    font-size: 2rem;
    font-weight: 600;
    color: #F9F5F2;
    letter-spacing: 3px;
  }

  .sobre-mi-text {
    max-width: 70%;

    display: flex;
    text-align: center;
  }

  .sobre-mi-text p {
    font-size: 1.4rem;
    color: #F9F5F2;
  }

  /* HABILIDADES */

  .skills {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 0 7% 0;
  }

  .skills h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10% 0 8% 0;
    letter-spacing: 3px;
  }

  .icon-card p {
    font-size: 1.4rem;
  }

  .icon-card {
    width: 150px;
  }

  .icon-card i {
    font-size: 3rem;
  }

  .icon-card:hover {
    margin: 2px 2px 2px 2px;
    transition: 0.3s;
  }

  /* PROYECTOS */

  .proyectos {
    padding: 50px 0 0 0;
    margin-bottom: 50px;
  }

  .proyectos h3 {
    margin: 6% 0 7% 0;
    font-size: 2rem;
    letter-spacing: 3px;
  }

  /* contenedor de los figure que encierran las imagenes y su descripcion */
  .container-card-p {
    max-width: 100%;
    gap: 20px;
  }

  .card-proyect figure {
    margin: 5px 0 10px 0;
    padding: 10px;
    max-width: 90%;
  }

  .img-info {
    font-size: 1.5rem;
  }

  .card-enlaces {
    margin: 10px 0;
  }

  .card-enlaces a {
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
  }

  /* CONTACTO */

  .form h2 {
    font-size: 2rem;
  }

  .form-item input {
    border-radius: 5px;
    outline: none;
    background-color: #17202A;
    color: #F9F5F2;
  }

  .form-item textarea {
    height: 70px;
    resize: none;
    border-radius: 5px;
    outline: none;
    background-color: #17202A;
    color: #F9F5F2;
  }

  .form button {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    color: #F9F5F2;
    background-color: #17202A;
  }


  /* FOTER */
  .foter-tit h2 {
    font-size: 2rem;
  }
}



@media (min-width: 769px) {

  /* el button amburguesa */
  .nav button {
    display: none;
  }

  main {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-xl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 60px;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #AEB6BF;
  }

  .nav-xl {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1442px;
  }

  .nav-menu-xl {
    display: contents;
    margin-right: 20px;
    list-style: none;
  }

  .nav-menu-item-xl {
    margin: 0 20px;
    width: max-content;
    font-size: 1.1rem;
  }

  .nav-menu-item-xl i {
    color: #000000;
  }

  .nav-menu-link {
    padding: 5px;
    border-radius: 3px;
    color: #000000;
  }

  .nav-menu-link:hover {
    color: #ffffff;
    transition: 0.5s;
  }

  /* este es el home movil */
  .home {
    display: none;
  }

  /* aca comienza mi home desktop */

  .home-xl {
    display: flex;
    padding: 60px 0 0 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-foto {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .home-foto img {
    max-width: 100%;
  }

  .home-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .home-info h1 {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
    font-weight: 600;
    color: #F9F5F2;

    animation-iteration-count: 3;
  }

  .home-info p {
    font-size: 1.7rem;
    margin: 0 0 20px 0;
    color: #F9F5F2;
  }

  .info-icon {
    max-width: 30%;
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
  }

  .info-icon a {
    text-decoration: none;
    background-color: #D6DBDF;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    box-shadow: 3px 3px 4px #000000;
    margin: 0 40% 0 0;
  }

  .info-icon a:hover {
    background-color: #222222;
    transition: 0.3s;
  }

  .info-icon i {
    font-size: 2rem;
    padding: 3px;
    color: #34495E;
  }

  .info-download-cv {
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 100%;
  }

  .info-download-cv i {
    color: #34495E;
  }

  .info-download-cv a {
    background-color: #D6DBDF;
    color: #34495E;
    text-decoration: none;
    padding: 15px;
    max-width: 50%;
    font-size: 1.2rem;
    box-shadow: 3px 3px 4px #000000;
  }

  .info-download-cv a i:hover {
    background-color: #222222;
    transition: 0.3s;
    color: #F9F5F2;
  }

  /* SOBRE MI */
  .sobre-mi {
    width: 100%;
    padding: 60px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sobre-mi h2 {
    margin: 3% 0 2% 0;
    font-size: 2.3rem;
    font-weight: 600;
    color: #F9F5F2;
    ;
  }

  .sobre-mi-text {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 70%;
  }

  .sobre-mi-text p {
    padding: 0 10px;
    font-size: 1.5rem;
    margin: 0;
  }

  /* HABILIDADES */
  .skills {
    padding: 60px 0 0 0;
  }

  .skills h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 3% 0 3% 0;
    color: #F9F5F2;
  }

  .skills-icon {
    gap: 20px;
  }

  .icon-card {
    width: 250px;
  }

  .icon-card p {
    font-size: 1.3rem;
  }

  .icon-card i {
    font-size: 4rem;
  }

  /* PROYECTOS */
  .proyectos {
    padding: 60px 0 0 0;
  }
  
  .proyectos h3 {
    font-size: 2.5rem;
    margin: 0 0 3% 0;
  }
  
  .card-proyect {
    width: 400px;
  }
  
  .card-img img {
    max-width: 100%;
  }
  
  .img-info{
    font-size: 1rem;
  }
  
  .card-enlaces{
    padding: 10px;
  }
  
  .card-enlaces a {
    padding: 10px;
    text-decoration: none;
    color: #D6DBDF;
    background-color: #34495E;
    border-radius: 5px;
    font-size: 1rem;
  }

  /* CONTACTO */

  .container-form {
    padding: 60px 0 0 0;
    margin-bottom: 100px;
  }
  
  .form{
    width: 50%;
  }
  
  .form h2 {
    font-size: 2rem;
  }
  
  .form-item textarea{
    height: 100px;
  }
  
  .form button {
    width: 50%;
    box-shadow: 2px 2px 4px #AEB6BF;
  }

  .form button:hover{
    background-color: #F9F5F2;
    color: #222222;
    transition: 0.3s;
  }


  /* FOOTER */

  .foter {
    width: 100%;
    bottom: 0;
  }
  
  .foter-tit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }
  
  .foter-tit h2 {
    font-size: 1.3rem;
    color: #F9F5F2;
    margin: 0 0 10px 0;
  }

}