@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: var(--color-white);
    font-family: var(--fuente);
    font-size: 1rem;
    font-weight: 400;
  }

  :root {
    --azul-claro: #8E7BEF;
    --azul: #5D3BEF;
    --color-menu: #F9F6FF;
    --color-white: #FFFFFF;
    --color-titulos: #000000;
    --color-subtitulos: #423F40;
    --color-card-contacto: #F9F5F2;
  
    --fuente: "Montserrat", sans-serif;
    --font-titulos: 2.5rem;
    --font-subtitulos: 1.3rem;
  }
  

  .header-xl {
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0 7px 2px #5d3bef;
    z-index: 99999;
  }

  .nav-menu-xl {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #5d6d7e;
    position: fixed;
    left: 0;
    top: 34px;
    width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item-xl {
    margin: 50px 0 0 0;
    font-size: 2rem;
  }

  .nav-menu-link:hover {
    background: none;
    color: #fff;
  }

  .nav-toggle {
    line-height: 55px;
    display: block;
  }

  .nav-toggle i {
    color: rgb(8, 8, 8);
    font-size: 2rem;
  }

  .nav-menu_visible {
    left: 0;
  }

  /*para que solo aparezcan bordes si me muevo con tab*/

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  /*este es el home de movíl*/
  .home {
    display: none;
  }

  .home-xl {
    width: 100%;
    padding: 50px 0 0 0;

    display: flex;
  }

  .home-foto {
    width: 50%;
  }

  .home-foto img {
    max-width: 100%;
  }

  .home-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .home-info h1 {
    font-size: var(--font-titulos);
    margin: 0 0 20px 0;
    font-weight: 600;
    color: var(--color-titulos);
    text-shadow: 2px 4px 3px #7f799b;
    letter-spacing: 5px;
  }

  .home-info p {
    font-size: var(--font-subtitulos);
    font-weight: 600;
    margin: 0 0 15px 0;
    color: var(--color-subtitulos);
  }

  .info-icon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 0 0 30px 0;
  }

  .info-icon a {
    text-decoration: none;
    background-color: var(--azul-claro);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 4px #000000;
    margin: 0 15% 0 0;
}

  .info-icon i {
    font-size: 1.7rem;
    color: #fff;
    padding: 10px;
}

  .info-download-cv {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    text-align: center;
  }

  .info-download-cv i {
    margin-right: 10px;
  }

  .info-download-cv a {
    background-color: var(--azul);
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 50px;
    max-width: 100%;
    font-size: 1rem;
    box-shadow: 3px 3px 4px #000000;
  }

  /* SOBRE MI */

  .sobre-mi {
    padding: 40px 0 0 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .sobre-mi h2 {
    margin: 10% 0 3% 0;
    font-size: var(--font-titulos);
    font-weight: 600;
    color: var(--color-titulos);
    letter-spacing: 3px;
  }

  .sobre-mi-text p {
    font-size: var(--font-subtitulos);
    font-weight: 600;
    color: var(--color-subtitulos);
  }

  /* HABILIDADES */

  .skills {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 0 7% 0;
  }

  .skills h2 {
    font-size: var(--font-titulos);
    font-weight: 600;
    margin: 10% 0 8% 0;
    letter-spacing: 3px;
  }

  .skills-img {
    width: 100%;
    gap: 10px;
  }

  .skills-img img {
    max-width: 100%;
  }

  /* PROYECTOS */

  .proyectos {
    padding: 50px 0 0 0;
    margin-bottom: 0;
  }

  .proyectos h3 {
    font-weight: 600;
    font-size: var(--font-titulos);
    margin: 10% 0 7% 0;
    letter-spacing: 3px;
  }

  .proyectos-img {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .proyectos-img img {
    max-width: 100%;
    margin: 0 0 20px 0;
    box-shadow: 2px 2px 6px #000000;
  }

  /* CONTACTO */

  .contacto {
    padding: 50px 0 0 0;
    width: 100%;
  }

  .contacto h2 {
    font-size: var(--font-titulos);
    font-weight: 600;
    margin: 5% 0 10% 0;
    color: var(--color-titulos);
    letter-spacing: 3px;
  }

  .contacto-contactar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 50px;
  }

  .contactar-card {
    width: 250px;
    margin: 0;
  }

  .contactar-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .contactar-card p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .contactar-card img {
    width: 70px;
  }

  
  /* FOTER */

  .foter-tit h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .foter-tit h3 {
    font-weight: 600;
    font-size: 1.3rem;
  }
}



@media (min-width: 769px) and (max-width: 1442px){

  body {
    background-color: var(--color-white);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }

  :root {
    --azul-claro: #8E7BEF;
    --azul: #5D3BEF;
    --color-menu: #F9F6FF;
    --color-white: #FFFFFF;
    --color-titulos: #000000;
    --color-subtitulos: #423F40;
    --color-card-contacto: #F9F5F2;
  
    --fuente: "Montserrat", sans-serif;
    --font-titulos: 3rem;
    --font-subtitulos: 2rem;
  }
  
  /* el button amburguesa */
  .nav button {
    display: none;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 60px;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0 7px 2px #8E7BEF;
  }

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1442px;
  }

  .nav-menu {
    display: contents;
    margin-right: 20px;
    list-style: none;
  }

  .nav-menu-item {
    margin: 0 20px;
    width: max-content;
    font-size: 1rem;
  }

  .fa-solid{
    color: #222222;
  }

  .nav-menu-link{
    padding: 5px;
    border-radius: 3px;
  }

  .nav-link-home{
    color: #8E7BEF;
  }

  .fa-house {
    color: #8E7BEF;
  }

  .nav-menu-link:hover{
    color: #8e7bef;
    transition: 0.5s;
  }
  
  /* este es el home movil */
  .home {
    display: none;
  }

  /* aca comienza mi home desktop */

  .home-xl {
    display: flex;
    width: 100%;
    padding: 60px 0 0 0;
  }

  .home-foto {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .home-foto img {
    max-width: 100%;
  }

  .home-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .home-info h1 {
    font-size: var(--font-titulos);
    margin: 0 0 20px 0;
    font-weight: 600;
    color: var(--color-titulos);
    text-shadow: 2px 4px 3px #7f799b;

    animation-iteration-count: 3;
  }

  .home-info p {
    font-size: var(--font-subtitulos);
    font-weight: 500;
    margin: 0 0 20px 0;
    color: var(--color-subtitulos);
  }

  .info-icon {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0 ;
  }

  .info-icon a {
    text-decoration: none;
    background-color: var(--azul-claro);
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    color: var(--color-white);
    box-shadow: 3px 3px 4px #000000;
    margin: 0 40% 0 0 ;
  }

  .info-icon i {
    font-size: 2rem;
    padding: 3px;
    color: var(--color-white);
  }

  .info-download-cv {
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 100%;
  }

  .info-download-cv i {
    margin-right: 10px;
    color: var(--color-white);
  }

  .info-download-cv a {
    background-color: var(--azul);
    color: var(--color-white);
    text-decoration: none;
    padding: 15px 80px;
    max-width: 100%;
    font-size: 1.2rem;
    box-shadow: 3px 3px 4px #000000;
  }

  /* SOBRE MI */

  .sobre-mi {
    padding: 60px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5% 0;
  }

  .sobre-mi h2 {
    margin: 7% 0 2% 0;
    font-size: var(--font-titulos);
    font-weight: 600;
    color: var(--color-titulos);
    text-shadow: 2px 4px 3px #7f799b;
  }

  .sobre-mi-text {
    max-width: 90%;
  }

  .sobre-mi-text p {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-subtitulos);
  }

  /* HABILIDADES */

  .skills {
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 0 8% 0;
  }

  .skills h2 {
    font-size: var(--font-titulos);
    font-weight: 600;
    margin: 7% 0 5% 0;
    color: var(--color-titulos);
    text-shadow: 2px 4px 3px #7f799b;
  }

  .skills-img {
    width: 100%;
  }

  .skills-img img {
    max-width: 100%;
    margin: 0 10px;
  }

  /* PROYECTOS */

  .proyectos {
    padding: 60px 0 0 0;
    margin-bottom: 3%;
    width: 100%;
  }

  .proyectos h3 {
    margin: 6% 0 5% 0;
    font-weight: 600;
    font-size: var(--font-titulos);
    color: var(--color-titulos);
    text-shadow: 2px 4px 3px #7f799b;
  }

  .proyectos-img {
    max-width: 100%;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .proyectos-img img {
    max-width: 100%;
    box-shadow: 2px 2px 6px #000000;
  }

  /* CONTACTO */

  .contacto {
    padding: 60px 0 0 0;
    width: 100%;
    margin-bottom: 10%;
  }

  .contacto h2 {
    font-size: var(--font-titulos);
    font-weight: 600;
    margin: 3% 0 5% 0;
    color: var(--color-titulos);
    text-shadow: 2px 4px 3px #7f799b;
  }

  .contacto-contactar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 70px;
  }

  .contactar-card {
    width: 300px;
    margin: 0;
  }

  .contactar-card img {
    width: 70px;
    margin: 0 0 10px 0;
  }

  .contactar-card h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .contactar-card p {
    font-size: 1rem;
    font-weight: 600;
  }


    /* FOOTER */

  .foter{
    width: 100%;
  }

  .foter-tit h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  .foter-tit h3 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 5px 0;
  }

}
