body {
  background-color: var(--color-white);
  font-family: var(--fuente);
  font-size: 1.2rem;
  font-weight: 400;
}

:root {
  --azul-claro: #8E7BEF;
  --azul: #5D3BEF;
  --color-menu: #F9F6FF;
  --color-white: #FFFFFF;
  --color-titulos: #000000;
  --color-subtitulos: #423F40;
  --color-card-contacto: #F9F5F2;

  --fuente: "Montserrat", sans-serif;
  --font-titulos:  2rem;
  --font-subtitulos: 1.3rem;
}

html{
  scroll-behavior: smooth;
}

.header {
  height: 40px;
  position: fixed;
  width: 100%;
  background-color: var(--color-menu);
  box-shadow: 1px 0 7px 2px var(--color1);
  z-index: 99999;
  box-shadow: 0px 3px 7px #5d3bef;
}

.nav {
  display: flex;
  justify-content: flex-end;
  
  text-align: center;
}


.nav-toggle {
  display: block;
  border: none;
  background: none;
}

.nav-toggle i {
  line-height: 40px;
  color: var(--color-titulos);
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-menu {
  flex-direction: column;
  background-color: #2E4053;
  position: fixed;
  top: 20px;
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
}

.nav-menu-item {
  margin: 10% 15% 0 0;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.nav-menu-link:hover {
  background: none;
  color: #fff;
}

.nav-menu_visible {
  left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
  outline: none;
}

/*este es el home de tablet y desktop*/
.home-xl{
  display: none;
}




/* HOME */

.home {
  padding: 40px 0 0;
  margin-bottom: 50px;
  width: 100%;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}

.home-title h1 {
  margin: 5px 0 10px 10px;
  font-size: var(--font-titulos);
  font-weight: 600;
  color: var(--color-titulos);
  text-shadow: 2px 4px 3px #7f799b;
}

.home-title p {
  margin: 0 0 0 10px;
  font-size: var(--font-subtitulos);
  font-weight: 600;
  z-index: 1;
  color: var(--color-subtitulos);
}

.home-container-img {
  width: 100%;
  margin-top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-foto img {
  max-width: 100%;
}

.img-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -10% 0 10% 0;
  width: 100%;
}

.img-icon a {
  text-decoration: none;
  background-color: var(--azul-claro);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 3px 4px #000000;
  margin: 0 10%;
}

.img-icon i {
  color: #fff;
  font-size: 1.5rem;
  padding: 5px;
}

.home-download-cv {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.home-download-cv a {
  max-width: 100%;
  padding: 10px 60px;
  text-decoration: none;;
  background-color: var(--azul);
  color: #fff;
  box-shadow: 3px 3px 4px #000000;
}


/* SOBRE MI */

.sobre-mi {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0;
}

.sobre-mi h2 {
  margin: 10% 0 5%;
  font-size: var(--font-titulos);
  font-weight: 600;
  color: var(--color-titulos);
  text-shadow: 2px 4px 3px #7f799b;
}

.sobre-mi-text {
  width: 100%;
}

.sobre-mi-text p {
  font-size: 1rem;
  font-weight: 600;
  max-width: 100%;
  color: var(--color-subtitulos);
  margin: 0;
}

/* HABILIDADES */

.skills {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.skills h2 {
  font-size: var(--font-titulos);
  font-weight: 600;
  margin: 20% 0 10%;
  color: var(--color-titulos);
  text-shadow: 2px 4px 3px #7f799b;
}

/* PROYECTOS */

.proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 0;
  width: 100%;
  margin-bottom: 30px;
}

.proyectos h3 {
  font-size: var(--font-titulos);
  font-weight: 600;
  margin: 0 0 10% 0;
  color: var(--color-titulos);
  text-shadow: 2px 4px 3px #7f799b;
}

.proyectos-img {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.proyectos-img img {
  max-width: 100%;
  box-shadow: 2px 2px 6px #000000;
}

/* CONTACTO */

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 100px;
  width: 100%;
}

.contacto h2 {
  margin: 20% 0 20%;
  font-size: var(--font-titulos);
  font-weight: 600;
  color: var(--color-titulos);
  text-shadow: 2px 4px 3px #7f799b;
}

.contacto-contactar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.contactar-card {
  max-width: 100%;
}

.contactar-card img {
  max-width: 100%;
  padding: 30px;
  background-color: var(--color-card-contacto);
  border-radius: 25%;
  margin-bottom: 10px;
  box-shadow: 3px 3px 4px #000000;
} 

.contactar-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-titulos);
  margin: 0 0 5px 0;
}

.contactar-card p {
  color: var(--color-subtitulos);
  font-weight: 400;
  margin: 0;
}

/* FOTER */

.foter {
  width: 100%;
  bottom: 0;
  background-color:var (--color-menu);
  box-shadow: 1px 0 7px 2px #5d3bef;
}

.foter-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}

.foter-tit h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-titulos);
  text-shadow: 2px 4px 3px #7f799b;
  margin: 0 0 10px 0;
}

.foter-tit h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-subtitulos);
  margin: 0 0 5px 0;
}