body {
  background-color: #273746;
  font-family: 'Roboto Mono', monospace;;
  font-size: 1.2rem;
  font-weight: 400;
}

html{
  scroll-behavior: smooth;
}

.header {
  height: 40px;
  position: fixed;
  width: 100%;
  background-color: #AEB6BF;
  z-index: 99999;
}

.nav {
  display: flex;
  justify-content: flex-end;
  
  text-align: center;
}


.nav-toggle {
  display: block;
  border: none;
  background: none;
}

.nav-toggle i {
  line-height: 40px;
  color: #000000;
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-menu {
  flex-direction: column;
  background-color: #273746;
  position: fixed;
  top: 20px;
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.4s;

  display: flex;
  align-items: center;
}

.nav-menu-item {
  margin: 10% 15% 0 0;
  list-style: none;
  
  display: flex;
  gap: 5px;
}

.nav-link {
  text-decoration: none;
  color: #dad5d5;
  font-weight: 600;
}

.nav-menu-item i {
  color: #dad5d5;
}

.nav-menu-link:hover {
  background: none;
  color: rgb(2, 2, 2);
}

.nav-menu_visible {
  left: 0;
}

.nav-toggle:focus:not(:focus-visible) {
  outline: none;
}

/*este es el home de tablet y desktop*/
.home-xl{
  display: none;
}

/* HOME */
.home {
  padding: 40px 0 0 0;
  margin-bottom: 50px;
  width: 100%;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.home-title h1 {
  margin: 10px 0 10px 0;
  font-size: 1.7rem;
  font-weight: 600;
  color: #F9F5F2;
}

.home-title p {
  margin: 0;
  font-size: 1rem;
  color: #F9F5F2;
}

.home-container-img {
  margin-top: -10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-foto img {
  max-width: 100%;
}

.img-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -5% 0 5% 0;
  width: 100%;
}

.img-icon a {
  text-decoration: none;
  background-color:#D6DBDF;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 5px #000000;
  margin: 0 8%;
}

.img-icon a:hover{
  background-color: #222222;
}

.img-icon i:hover{
  color: #F9F6FF;
}

.img-icon i {
  color: #34495E;
  font-size: 1.5rem;
  padding: 5px;
}

.home-download-cv {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.home-download-cv a {
  width: 60%;
  padding: 10px;
  text-decoration: none;;
  background-color: #D6DBDF;
  color: #34495E;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 5px;
}

.home-download-cv a:hover{
  background-color: #222222;
  color: #F9F5F2;
}


/* SOBRE MI */

.sobre-mi {
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0;
}

.sobre-mi h2 {
  margin: 10% 0 5%;
  font-size: 1.7rem;
  font-weight: 600;
  color: #F9F5F2;
}

.sobre-mi-text {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.sobre-mi-text p {
  padding: 0 10px;
  font-size: 0.9rem;
  color: #F9F5F2;
  margin: 0;
}

/* HABILIDADES */

.skills {
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.skills h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 10% 0 10%;
  color: #F9F5F2;
}

.skills-icon{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.icon-card{
  width: 100px;
  padding: 10px;
  background-color: #D6DBDF;
  border-radius: 5px;
  font-size: 1rem;

  box-shadow: 2px 2px 3px #d3c6c6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-card p {
  margin: 10px 0 0 0;
}

.icon-card i {
  color: #273746;
  font-size: 2rem;
}

.icon-card:hover{
  margin: 2px 2px 2px 2px;
  transition: 0.3s;
}

.container-formacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 40px 0 0 0;
  gap: 10px;
}

.container-formacion h2{
  font-size: 1.7rem;
  font-weight: 600;
  margin: 2% 0 5% 0;
  color: #F9F5F2;
}

.formacion-card {
  width: 80%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: #D6DBDF;
  box-shadow: 3px 3px 4px #131313;
  border-radius: 5px;
}

.formacion-card h3 {
  font-size: 1rem;
  margin: 0;
}

.formacion-card p {
  margin: 0 0 10px 0;
  font-size: 1rem;
}

/* PROYECTOS */

.proyectos {
  padding: 40px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proyectos h3 {
  margin: 6% 0 4% 0;
  font-weight: 600;
  font-size: 1.7rem;
  color: #F9F5F2;
}

/* contenedor de los figure que encierran las imagenes y su descripcion */
.container-card-p {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 10px;
}

.card-proyect {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
  background-color: #D6DBDF ;
  border-radius: 10px;
}

.card-proyect figure {
  margin: 5px 0 10px 0;
  padding: 10px;
  max-width: 80%;
}

.card-img {
  box-shadow: 2px 2px 4px #222222;
  border-radius: 3px;
}

.card-img img {
  max-width: 100%;
}

.img-info{
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
}

.card-enlaces{
  max-width: 100%;
  margin-bottom: 10px;
}

.card-proyect a {
  padding: 3px;
  text-decoration: none;
  color: #D6DBDF;
  background-color: #34495E;
  border-radius: 3px;
  font-size: 0.7rem;
}


/* CONTACTO */
.container-form {
  padding: 40px 0 0 0;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 10px;

  background-color: #85929E ;
  box-shadow: 3px 3px 5px #131313;
  border-radius: 10px;
}

.form h2 {
  font-size: 1.3rem;
  color: #F9F5F2;
}

.form-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #F9F5F2;
  max-width: 100%;
}

.form-item input{
  border-radius: 5px;
  outline: none;
  background-color: #17202A;
  color: #F9F5F2;
}

.form-item textarea{
  height: 70px;
  resize: none;
  border-radius: 5px;
  outline: none;
  background-color: #17202A;
  color: #F9F5F2;
}

.form button {
  width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: #F9F5F2;
  background-color: #17202A;
}



/* FOTER */

.foter {
  width: 100%;
  bottom: 0;
}

.foter-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
}

.foter-tit h2 {
  font-size: 1.3rem;
  color: #F9F5F2;
  margin: 0 0 10px 0;
}